<!DOCTYPE html>
<html>
<head>
	<title>PostIt</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/index.js"></script>
</head>
<nav>
	<div>
		<a href="#">PostIt</a>
		<a href="#">About PostIt</a>
	</div>
</nav>
<body>
<div>
	<button onclick="switchTab(event, 'info')">Create group</button>
	<button onclick="switchTab(event, 'members')">Add members</button>
</div>
<div>

</div>
</body>
<footer>
	<div>Built by Victor Idongesit</div>
	<div>© Andela, 2017</div>
</footer>
</html>