<!DOCTYPE html>
<html>
<head>
	<title>PostIt</title>
	<script src="build/bundle.js"></script>
</head>
<nav>
	<div>
		<a href="#">PostIt</a>
		<a href="#">About PostIt</a>
	</div>
</nav>
<body>
<div class="tab">
  <button class="tablinks" id="defaultTab" onclick="switchTab(event, 'info')">Group info</button>
  <button class="tablinks" onclick="switchTab(event, 'members')">Add members</button>
</div>

<div id="info" class="tabcontent">
	<h3>Enter group details</h3>
	<form>
		<div>
			<input type="text" name="group-title" placeholder="Group Title">
		</div>
		<div>
			<textarea type="text" name="group-desc" placeholder="Description"></textarea>
		</div>
		<button>Next</button>
	</form>
</div>

<div id="members" class="tabcontent">
<h3>Add memebers</h3>
	<form>
		<ul>
			<li>Ade Balogun <small> adebalogun@yahoo.com</small><input type="checkbox" name="IDforAdeBalogun"></li>
			<li>John Smith <small>johnsmith@yahoo.com</small><input type="checkbox" name="IDforJohnSmith"></li>
			<li>Sani Danjuma <small>sanidanjuma@gmail.com</small><input type="checkbox" name="IDforSaniDanjuma"></li>
			<li>Joy Okafor <small>joyokafor@yahoo.com</small><input type="checkbox" name="IDforJoyOkafor"></li>
		</ul>
		<button>Create group</button>
	</form>
</div>
</body>
<footer>
	<div>Built by Victor Idongesit</div>
	<div>© Andela, 2017</div>
</footer>
</html>