<!DOCTYPE html>
<html>
<head>
	<title>PostIt</title>
	<script src="build/bundle.js"></script>
</head>
<nav  class="teal darken-4" role="navigation" >
	<div class="nav-wrapper">
		<a href="#" id="brand" class="brand-logo">PostIt</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a class="waves-effect waves-light btn">About PostIt</a></</li>
			<li><a class="waves-effect waves-light btn">Sign out</a></</li>
		</ul>
		<ul id="mobile-demo" class="side-nav">
			<li><a href="#" class="black-text">About PostIt</a></li>
		</ul>
	</div>
</nav>
<body>
<div id="main">
<div class="tab">
  <button class="tablinks" id="defaultTab" onclick="switchTab(event, 'info')">Group info</button>
  <button class="tablinks" id="add-members" onclick="switchTab(event, 'members')">Add members</button>
</div>

<div id="info" class="tabcontent">
	<div class="row">
		<div class="col s12 m8 offset-m2 offset-l3 l6">
			<div class="group-details">
			<h4 class="center">Enter group details</h4>
			<form>
				<div>
					<input type="text" name="group-title" placeholder="Group Title">
				</div>
				<div>
					<textarea id="groupDescription" type="text" class="materialize-textarea" placeholder="Description" name="group-desc"></textarea>
				</div>
			</form>
			<button class="btn"  onclick="document.getElementById('add-members').click()">Next >></button>
			</div>
		</div>
	</div>
	
</div>

<div id="members" class="tabcontent">
	<div class="row">
		<div class="col s12 m8 offset-m2 l6 offset-l3">
			<form>
				<ul class="collection with-header">
					<li class="collection-header"><h4>Add members</h4></li>
					<li class="collection-item">
						<input id="cb1" type="checkbox" name="IDforAdeBalogun">
						<label for="cb1">Ade Balogun <small> adebalogun@yahoo.com</small></label>
					</li>
					<li class="collection-item">
						<input id="cb2" type="checkbox" name="IDforAdeBalogun">
						<label for="cb2">John Smith <small>johnsmith@yahoo.com</small></label>
					</li>
					<li class="collection-item">
						<input id="cb3" type="checkbox" name="IDforAdeBalogun">
						<label for="cb3">Sani Danjuma <small>sanidanjuma@gmail.com</small></label>
					</li>
					<li class="collection-item">
						<input id="cb4" type="checkbox" name="IDforAdeBalogun">
						<label for="cb4">Joy Okafor <small>joyokafor@yahoo.com</small></label>
					</li>
				</ul>
			</form>
			<div class="row">
				<button class="btn col s8 offset-s2 m5 l5" onclick="document.getElementById('defaultTab').click()"><< Group info</button>
				<div class="col s12 m2 s2"><br></div>
				<button class="btn col s8 offset-s2 m5 l5">Create group</button>
			</div>
		</div>
	</div>
</div>
</div>
<footer class="page-footer teal darken-4">
	<div class="shift-left white-text">Built by Victor Idongesit</div>
	<div class="footer-copyright shift-left">    © Andela, 2017</div>
</footer>
</body>
</html>