<!DOCTYPE html>
<html>
<head>
	<title>PostIt</title>
	<script type="text/javascript" src="build/bundle.js"></script>
</head>
<nav>
	<div class="nav-wrapper">
		<a href="#" class="brand-logo">PostIt</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a href="#">About PostIt</a></li>
		</ul>
		<ul id="mobile-demo" class="side-nav">
			<li><a href="#">About PostIt</a></li>
		</ul>
	</div>
</nav>
<body>
<div>
	<h3 class="board-title">Message Board</h3>
	<ul>
		<li>
			<div class="group-info">Project NextBigThing</div>
			<div class="group-creator"><small>Created by Ade Balogun</small></div>
			<label class="unread">3 Unread messages</label>
		</li>
		<li>
			<div class="group-info">Project MakeItHappen</div>
			<div class="group-creator"><small>Created by Ade Balogun</small></div>
			<label class="unread">3 Unread messages</label>
		</li>
		<li>
			<div class="group-info">Project DisruptTheFlow</div>
			<div class="group-creator"><small>Created by Ade Balogun</small></div>
			<label class="unread">3 Unread messages</label>
		</li>
	</ul>
</div>
</body>
</html>