<!DOCTYPE html>
<html>
<head>
	<title>PostIt</title>
	<script type="text/javascript" src="build/bundle.js"></script>
</head>
<nav>
	<div>
		<a href="#">PostIt</a>
		<a href="#">About PostIt</a>
	</div>
</nav>
<body>
<div>
	<h3 class="board-title">Message Board</h3>
	<ul>
		<li>
			<div class="group-info">Project NextBigThing</div>
			<div class="group-creator"><small>Created by Ade Balogun</small></div>
			<label class="unread">3 Unread messages</label>
		</li>
		<li>
			<div class="group-info">Project MakeItHappen</div>
			<div class="group-creator"><small>Created by Ade Balogun</small></div>
			<label class="unread">3 Unread messages</label>
		</li>
		<li>
			<div class="group-info">Project DisruptTheFlow</div>
			<div class="group-creator"><small>Created by Ade Balogun</small></div>
			<label class="unread">3 Unread messages</label>
		</li>
	</ul>
</div>
</body>
</html>