<!DOCTYPE html>
<html>
<head>
	<title>PostIt</title>
	<script type="text/javascript" src="build/bundle.js"></script>
</head>
<nav class="lime darken-4">
	<div class="nav-wrapper">
		<a href="#" id="brand" class="brand-logo">PostIt</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a class="waves-effect waves-light btn">About PostIt</a></</li>
			<li><a class="waves-effect waves-light btn">Sign out</a></</li>
		</ul>
		<ul id="mobile-demo" class="side-nav">
			<li><a href="#">About PostIt</a></li>
		</ul>
	</div>
</nav>
<body>
<main>
	<h3 class="board-title center white-text">Message Board</h3>
	<div class="row">
	   <div class="collection col s12 m8 l8 offset-m2 offset-l2">
         <a href="#" class="collection-item">
         	<span class="secondary-content right new badge">4</span>
         	Project NextBigThing
         	<small class="grey-text">Created by Jane Doe</small>
         </a>
         <a href="#" class="collection-item">
         	<span class="secondary-content right new badge">4</span>
         	Project NextBigThing
         	<small class="grey-text">Created by John Smith</small>
         </a>
         <a href="#" class="collection-item">
         	<span class="secondary-content right new badge">4</span>
         	Project DisruptiveTech
         	<small class="grey-text">Created by Joy Okafor</small>
         </a>
         <a href="#" class="collection-item">
         	<span class="secondary-content right new badge">4</span>
         	Project MakeItHappen
         	<small class="grey-text">Created by Abel Kennedy</small>
         </a>
      </div>
     </div>
</main>
<footer class="page-footer lime darken-4">
   <div class="container">Built by Victor Idongesit</div>
   <div class="footer-copyright">    © Andela, 2017</div>
</footer>
</body>
</html>