<!DOCTYPE html>
<html>
<head>
	<title>PostIt</title>
	<script type="text/javascript" src="build/bundle.js"></script>
</head>
<nav>
	<div>
		<a href="#">PostIt</a>
		<a href="#">About PostIt</a>
	</div>
</nav>
<body>
<div>
	<div class="group-info">Project NexBigThing</div>
	<ul class="messages">
		<li class="message">
			<div class="sender-name">Ade Balogun</div>
			<div class="message-body">I will not be able to make it to the meeting</div>
			<div class="message-info"><small>Post created 12:06:2017, 11:34am</small></div>
		</li>
		<li class="message">
			<div class="sender-name">John Smith</div>
			<div class="message-body">We will try to make up for your absence. Take care.</div>
			<div class="message-info"><small>Post created 12:06:2017, 11:50am</small></div>
		</li>
		<li class="message">
			<div class="sender-name">Joy Okafor</div>
			<div class="message-body">Can we get someone to fill his place?</div>
			<div class="message-info"><small>Post created 12:06:2017, 12:00pm</small></div>
		</li>
	</ul>
	<div class="message-input-box">
		<input type="text" name="mymessage">
		<button>Send</button>
	</div>
</div>
</body>
</html>