<!DOCTYPE html>
<html>
<head>
	<title>PostIt</title>
	<script src="build/bundle.js"></script>
</head>
<nav>
	<div class="nav-wrapper">
		<a href="#" class="brand-logo">PostIt</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a href="#">About PostIt</a></li>
		</ul>
		<ul id="mobile-demo" class="side-nav">
			<li><a href="#">About PostIt</a></li>
		</ul>
	</div>
</nav>
<body>
<div>
	<div class="row">
		<div class="col s2 m3 l4">
		</div>
		<form class="col s8 m6 l4 signup-form">
			<div>
				<h3 class="center">Sign Up</h3>
			</div>
			<div>
				<input type="text" name="fname" placeholder="First Name">
			</div>
			<div>
				<input type="text" name="lname" placeholder="Last Name">
			</div>
			<div>
				<input type="text" name="number" placeholder="Phone Number">
			</div>
			<div>
				<input type="text" name="email" placeholder="Email">
			</div>
			<div>
				<input type="password" name="password" placeholder="Password">
			</div>
			<button class="btn">Sign up</button>
			<div>
				<p>Already have an account? <a href="#">Sign in</a></p>
			</div>

		</form>
	</div>
</div>
</body>
<footer>
	<div>Built by Victor Idongesit</div>
	<div>© Andela, 2017</div>
</footer>
</html>