<!DOCTYPE html>
<html>
<head>
	<title>PostIt</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/index.js"></script>
</head>
<nav>
	<div>
		<a href="#">PostIt</a>
		<a href="#">About PostIt</a>
	</div>
</nav>
<body>
<div>
	<div>
		<form>
			<div>
				<h3>Sign Up</h3>
			</div>
			<div>
				<input type="text" name="fname" placeholder="First Name">
			</div>
			<div>
				<input type="text" name="lname" placeholder="Last Name">
			</div>
			<div>
				<input type="text" name="number" placeholder="Phone Number">
			</div>
			<div>
				<input type="text" name="email" placeholder="Email">
			</div>
			<div>
				<input type="password" name="password" placeholder="Password">
			</div>
			<div>
				<input type="checkbox" name="signedin">
				<span>Keep me signed in</span>
			</div>
			<button>Sign in</button>
			<div>
				<p>Already have an account? <a href="#">Sign in</a></p>
			</div>
		</form>
	</div>
</div>
</body>
<footer>
	<div>Built by Victor Idongesit</div>
	<div>© Andela, 2017</div>
</footer>
</html>